.christos {
  font-family: "IBM Plex Mono", sans-serif;
}

.homepageLink {
  font-weight: 800;
  color: #4098d7;
}

.Cv::after {
  content: "...";
  font-size: 50px;
  color: gold;
  display: block;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

.intro::after {
  content: "...";
  font-size: 50px;
  color: gold;
  display: block;
  text-align: center;
  letter-spacing: 5px;
}

.link {
  font-family: "IBM Plex Mono", sans-serif;
  color: #4098d7;
}

.currentlyWorking {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1.5rem;

  span {
    margin-right: 20px;
  }
}

.learningContainer {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .learningContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.tools,
.languages {
  flex: 1;

  h4 {
    font-size: 20px;
  }
}

.listColumn {
  column-count: 2;
}

.svgResize {
  padding-top: 4px;
  height: 1.75em;
  width: 2em;
}

.svgResize:hover {
  transform: scale(1.25);
}

.mePortrait {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 20%;
  border-radius: 80%;
}
