h2 {
  margin-top: 2rem;
}

.projectContainer {
  display: flex;
  flex-direction: column;
}

.projectContainer > h3 {
  color: #000000;
}

.projectInfo::after {
  content: "...";
  font-size: 50px;
  color: gold;
  display: block;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

.projectTitle {
  color: #0275d8;
  margin-top: 1.5em;
}

.projectDescription {
  color: #7b8794;
  font-style: italic;
  font-style: 1.1rem;
}

img:hover {
  transform: none;
}

.projectInfo {
  list-style: circle;
}

.svgResize {
  height: 1.75em;
  width: 2em;
  margin: 0;
}

.svgResize:hover {
  transform: scale(1.25);
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: 800;
  text-decoration: underline;
}

.blogLogin > p {
  margin: 0;
}
