//specific styles for header
.header {
  padding: 1rem 0 2rem; //putting space between header content and rest of hte page
}

.title {
  font-family: "IBM Plex Mono", sans-serif;
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
  margin-right: auto;
  align-self: flex-start;
  transition: color 0.75s ease;
}

.title:hover {
  text-decoration: underline;
  color: #334e68;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  font-family: "IBM Plex Mono", sans-serif;
  color: #7b8794;
  font-size: 1rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #0275d8;
  text-decoration: none;
}

.active-nav-item {
  color: #333333;
  font-weight: bold;
}

.fa-home {
  padding-top: 30px;
  padding-right: 12px;
}

.titlePic {
  display: flex;
  justify-content: space-evenly;
}

.mePortrait {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  width: 10%;
  border-radius: 80%;
}
// .container {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
// }
